<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="bike, bikes, bicycle, bicycles,
                                   helmet, equipment, suit, gear, accessories,
                                   tires, chamber, frame, seat, pedals,  
                                   buy, shop, online, store, sale, discount, cheap,
          
                                   velo, velos, bicyclette, bicyclettes,
                                   casques, equipement, combinaisons, materiel, accessoires,
                                   pneus, chambres a air, cadre, sieges, pedales,  
                                   acheter, boutique, en ligne, magasin, ventes, rabais, pas cher" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!----img src="~/Content/Images/bikeshoplogo.png" alt="Logo" /-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                @Html.ActionLink("The Ultimate Bike Shop for Bike Lovers Of Quebec", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Cycling Safety", "CyclingSafety", "Home")</li>
                    <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                    <li>@Html.ActionLink("Returns", "Returns", "Home")</li>
                    <li>@if (String.IsNullOrEmpty((String)Session["userName"]))
                        {
                            @Html.ActionLink("Login", "Login", "Users");
                        }
                        else
                        {
                            @Html.ActionLink("Log Off", "Logoff", "Users");
                        }
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <b>Menu Items</b><br />
            <ul class="footer links">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                <li>@Html.ActionLink("Cycling Safety", "CyclingSafety", "Home")</li>
                <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                <li>@Html.ActionLink("Returns", "Returns", "Home")</li>
            </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
