<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="bike, bikes, bicycle, bicycles,
                                   helmet, equipment, suit, gear, accessories,
                                   tires, chamber, frame, seat, pedals,  
                                   buy, shop, online, store, sale, discount, cheap,
          
                                   velo, velos, bicyclette, bicyclettes,
                                   casques, equipement, combinaisons, materiel, accessoires,
                                   pneus, chambres a air, cadre, sieges, pedales,  
                                   acheter, boutique, en ligne, magasin, ventes, rabais, pas cher" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--From https://forums.asp.net/t/2092767.aspx -->
    <script>
        var clicked = false;
        function cartPress() {
            if (!clicked) {
                if (window.innerWidth >= 768) {
                    document.getElementById("cart_partial").style.display = "";
                    document.getElementById("cart_button").style.borderTopLeftRadius = "3px"
                    document.getElementById("cart_button").style.borderTopRightRadius = "3px"
                    document.getElementById("cart_button").style.borderColor = "lightblue"
                    document.getElementById("cart_button").style.backgroundColor = "lightblue"
                } else {
                    var url = '@Url.Action("Cart", "HomeController")';
                    // do something with the url client side variable, for example redirect
                    window.location.href = url;
                }
            } else {
                document.getElementById("cart_partial").style.display = "none";
                document.getElementById("cart_button").style.border = "none"
                document.getElementById("cart_button").style.backgroundColor = ""
            }
            clicked = !clicked;
        }

    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                

                <div style="text-align:center">@Html.ActionLink("NMGM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Shop", "Index", "Bikes")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Cycling Safety", "CyclingSafety", "Home")</li>
                    <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                    <li>@Html.ActionLink("Returns", "Returns", "Home")</li>
                    @if (!String.IsNullOrEmpty((String)Session["username"]))
                    {
                        <li>@Html.ActionLink("My Account", "Details", "Users", new { id = Session["id"] }, null);</li>
                    }
                    <li>@if(String.IsNullOrEmpty((String)Session["username"]))
                        {
                            @Html.ActionLink("Login", "Login", "Users");
                        }
                        else
                        {
                            @Html.ActionLink("Log Out", "Logoff", "Users");
                        }
                    </li>
                    <li><a id="cart_button" onclick="cartPress()">Cart <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                </ul>
            </div>
      
        </div>
    </div>

    <div class="container body-content">
        <!--Shopping Cart is here-->
        <div id="cart_partial" style="display:none">
            @Html.Partial("~/Views/Shared/Cart.cshtml")
        </div>
        @RenderBody()
        <hr />
        <footer>
            <b>Menu Items</b><br />
            <ul class="footer links">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Shop", "Index", "Bikes")</li>
                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                <li>@Html.ActionLink("Cycling Safety", "CyclingSafety", "Home")</li>
                <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
                <li>@Html.ActionLink("Returns", "Returns", "Home")</li>
                <li>@Html.ActionLink("Login", "Login", "Users")</li>
                <li>@Html.ActionLink("Go to Cart", "Cart", "Home")</li>

            </ul>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
