@model IntegrationProjectNMGM.Models.ProductDetails
<!--The controller passes a ProductDetails object which stores the current Product, all its images and all its reviews.-->
<!--So to access Images, you would do model=> model.Images-->

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="wrapper">
            <dd class="prodName">
                @Html.DisplayFor(model => model.CurrentProduct.ProductName)
            </dd>
            <dd class="prodDesc">
                @Html.DisplayFor(model => model.CurrentProduct.Description)
            </dd>
            <div class="prices">
                <dt class="prodMSRPLabel">
                    @Html.DisplayNameFor(model => model.CurrentProduct.MSRP)
                </dt>
                <dd class="prodMSRP">
                    @Html.DisplayFor(model => model.CurrentProduct.MSRP)
                </dd>
                <dd class="prodCurrentPrice">
                    @Html.DisplayFor(model => model.CurrentProduct.CurrentPrice)
                </dd>
            </div>
            <dt class="prodEnabledLabel">
                @Html.DisplayNameFor(model => model.CurrentProduct.Enabled)
            </dt>
            <dd class="prodEnabled">
                @Html.DisplayFor(model => model.CurrentProduct.Enabled)
            </dd>
        </div>

        <!--The controller passes a ProductDetails object which stores the current Product, all its images and all its reviews.-->
        <!--So to access Images, you would do model=> model.Images-->
        <table>
            <tr>
                @foreach (var image in Model.Images)
                {
                    <td><img src="@image.ImagePath" alt="@image.ImageName" style="width:150px;height:150px;"/></td>
                }
                <!-- Sample Image path -->
                <!--<td><img src="~/Models/Images/sampleBike.jpg" style="width:150px;height:150px;" /></td>
                <td><img src="~/Models/Images/sampleBike2.jpg" style="width:150px;height:150px;" /></td> -->
            </tr>
        </table>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CurrentProduct.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.Partial("~/Views/Shared/Review.cshtml", Model.Reviews)


</p>
